# don't track these directories/files:
data/
slurm-log/
plots/
plots_old/
*/results/
*/metrics/
*.Rhistory
*.aux
*.pdf
*.log
*.synctex.gz
*.xlsx
*.svg
*.snakemake
samples/ALL_byPop/
samples/Over0.5x_byPop/
samples/planting/
scripts/
test/
filtered_bams/merged_bams
labwork/
*/old
*/logs
filtered_bams/fastQC/
filtered_bams/fastq_screen/
filtered_bams/snake_logs/
samples/
TEST*
.aspera*
aspera*
snake_logs
venv/
